body {
    font-family: 'Poppins', sans-serif;
}

.gradient-bg {
    background-image: url('/static/img/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Personalización de flechas Swiper de las termas*/
.swiper-button-next, .swiper-button-prev {
    color: #ea580c; 
    width: 48px;
    height: 48px;
    background: rgba(255,255,255,0.85);
    border-radius: 9999px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    transition: background 0.2s, color 0.2s;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    background: #ea580c;
    color: #fff;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 2rem;
    font-weight: bold;
}

.contacto-bg {
    background-color: #dfdede;
}

.nosotros-bg {
    background-color: #3f573e;
}